.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(45deg, #403384, #7054A7);
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 50px;
    margin-left: 35px;
}

.nav {
    display: flex;
    gap: 20px;
    height: 70px;
    margin-left: 20px;
}

.navItem {
    position: relative;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 18px;
    display: flex; 
    align-items: center;  
    justify-content: space-between;
    line-height: 1.5;
    margin-bottom: 5px; 
}

.navItem:hover{
    color: white;
}

.expandArrow {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.actions {
    display: flex;
    gap: 30px;
    align-items: center;
}

.searchWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.searchIcon {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px; 
    margin-right: 25px;
    transition: opacity 0.3s ease;
    color: white;
}

.searchInputWrapper {
    position: relative;
}

.searchInput {
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    outline: none;
    transition: width 0.3s ease, opacity 0.3s ease;
    width: 0;
    opacity: 0;
    overflow: hidden; 
}

.searchInput:focus {
    box-shadow: 0 0 5px #C2C6CA;
}

.demoButton {
    display: flex;
    height: 35px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    background: #FFF;
    color: #403384;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 800;
}

.demoButton:hover {
    background-color: #54459e;
    color: #FFF;
}

.transparentHeader {
    background: linear-gradient(45deg, rgba(64, 51, 132, 0.8), rgba(112, 84, 167, 0.8));
    backdrop-filter: blur(10px);
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    /* transform: translateY(-110%); */
    /* opacity: 0; */
    transform: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.dropdown.active {
    transform: translateY(0);
    opacity: 1;
}

.dropdown h4 {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: #403384;
    transition: color 0.3s ease, transform 0.3s ease;
}

.dropdownSection:hover h4 {
    color: #7054A7;  /* transitioning to the secondary color of your gradient for emphasis */
    transform: translateX(7px);  /* slight horizontal movement to the right */
    transition: color 0.3s ease, transform 0.3s ease; /* smooth transition for color and movement */
}


.dropdown p {
    margin: 4px 0 0;
    font-size: 13px;
    color: #888;
    transition: color 0.3s ease, transform 0.3s ease;
}

.dropdownSection:hover p {
    color: #3e2969;  /* transitioning to the secondary color of your gradient for emphasis */
    transform: translateX(7px);  /* slight horizontal movement to the right */
    transition: color 0.3s ease, transform 0.3s ease; /* smooth transition for color and movement */
}
.dropdownSection {
    padding: 12px 16px;
    border-bottom: 1px solid #f5f5f5;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Add smooth transitions */
    cursor: pointer; /* To give a pointer on hover */
    transform: translateZ(0); 

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0; /* default width is 0 */
        background-color: #6240a5; /* Adjust this to your desired shade of purple */
        transition: width 0.3s; /* Smooth transition for the line */
    }
}



.dropdownSection:last-child {
    border-bottom: none;
}

.dropdownSection:hover {
    background-color: #fafafa; /* Even lighter shade than #f7f7f7 for subtlety */
     /* Slightly enlarge the hovered section */
    box-shadow: 0 4px 15px rgba(180, 152, 247, 0.05);
    font-weight: 500;

    &::before {
       
        width: 7px;
        
    }
}
