.hero {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    background: linear-gradient(45deg, #403384, #7054A7);
    height: 65vh;
  }
  
  .heroLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35px;

  }
  
  .heroRight {
    flex: 1;
    
    /* Add styles for the right side of the hero section if you have content there. */
  }
  
  .hero h1 {
    color: white;
    font-family: 'Montserrat';
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px; /* 135.714% */
    letter-spacing: 0.7px;
    text-transform: capitalize;
   
  }
  
  .hero p {
    color: white;
font-family: 'Montserrat';
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 166.667% */
letter-spacing: 0.18px;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }
  
  .discoverButton {
    display: inline-flex;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    background: #FFF;
    color: #54459e;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .demoButton{
    display: inline-flex;
padding: 15px 25px;
justify-content: center;
align-items: center;
border: none;
border-radius: 30px;
background: #FFF;
color: #54459e;
font-family: 'Montserrat';
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
cursor: pointer;
transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  }
  .svgWrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .demoButton:hover{
    background-color: #6758b6;
    color: white;
    
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .discoverButton:hover {
    background-color: #6758b6;
    color: white;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .demoButton:active, .discoverButton:active {
    transform: scale(1); /* Reset scaling effect when button is pressed */
  }
  

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .cursor {
    animation: blink 1s infinite;
    display: inline-block;
    margin-left: 2px;
  }

  .baseAndDynamicText {
    display: inline-block; /* Makes sure it doesn't break into a new line mid-word */
}

.decisionText {
    display: block; /* Forces it to appear on a new line */
}
